/* gilroy */
@font-face {
    font-family: 'Gilroy';
    font-weight: 900;
    src: url(../fonts/gilroy/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    src: url(../fonts/gilroy/Gilroy-Light.otf);
}

/* unbounded */
@font-face {
    font-family: 'Unbounded';
    font-weight: 900;
    src: url(../fonts/unbounded/Unbounded-Black.ttf);
}

@font-face {
    font-family: 'Unbounded';
    font-weight: 800;
    src: url(../fonts/unbounded/Unbounded-Bold.ttf);
}
