* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  background: #1D1D1F;
}

p, span, li, a, nav, ul, ol {
  color: #F2F3F4;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  padding: 15px 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.white {
  background: #F2F3F4;
  color: #1D1D1F;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #111;
  width: 100vw;
  z-index: 9999;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 2px solid #F2F3F4;
}
header nav ul {
  display: flex;
  gap: 1rem;
}

.container {
  width: 90vw;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  height: 200vh;
  width: 200%;
  background: transparent url("../img/bg/background.png") repeat 0 0;
  background-blend-mode: multiply;
  animation: bg-animation 0.8s infinite;
  opacity: 0.9;
}

section.mb-section {
  margin-bottom: 80px;
  position: relative;
  z-index: 10;
}

section.landing-section {
  height: calc(100vh + 114px);
}

.container.landing-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title-color {
  color: #EBFF00;
}

h1 {
  font-family: "Unbounded";
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  color: #F2F3F4;
}

.title-text {
  position: relative;
  z-index: 2;
}

.title-text:after {
  content: "";
  position: absolute;
  width: 252px;
  height: 112px;
  background: #F29F05;
  bottom: 20px;
  right: 20px;
  border-radius: 176px/77px;
  transform: rotate(15deg);
  z-index: -1;
}

.landing-img {
  height: 10rem;
  border: 2px solid #F2F3F4;
  border-radius: 24px;
  overflow: hidden;
  width: 100%;
}

.landing-text {
  text-align: center;
  margin-bottom: 2.75rem;
}

.landing-btn {
  color: #F2F3F4;
  font-family: "Unbounded";
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.landing-btn:after {
  content: "";
  position: absolute;
  width: 252px;
  height: 112px;
  background: #FE5D02;
  top: 100%;
  left: 50%;
  border-radius: 176px/77px;
  transform: rotate(10deg) translate(-50%, -50%);
  z-index: -1;
  transition: all 0.3s ease;
}

.landing-btn:hover:after {
  top: 50%;
  transform: rotate(0) translate(-50%, -50%);
}

.about-section {
  position: relative;
  z-index: 10;
  margin-bottom: 3rem;
}
.about-section .about-container {
  padding-top: 3rem;
  border-top: 2px solid #F2F3F4;
  gap: 30px;
}
.about-section .about-container .about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.about-section .about-container .about-content .left-about {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: space-between;
}
.about-section .about-container .about-content .left-about p {
  white-space: pre-line;
}
.about-section .about-container .about-content .left-about .left-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.about-section .about-container .about-content .left-about .left-gallery .img-gallery {
  height: 312px;
  border-radius: 24px;
  overflow: hidden;
}
.about-section .about-container .about-content .left-about .left-gallery .img-gallery:first-child img {
  object-position: top;
}
.about-section .about-container .about-content .right-about {
  border-radius: 24px;
  overflow: hidden;
  height: 663px;
}

.reviews-container {
  padding: 2rem;
  background: #303031;
  border-radius: 24px;
  border: 2px solid #F2F3F4;
}
.reviews-container .review-item {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.reviews-container .review-item .header-review {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews-container .review-item .header-review .review-emoji {
  display: flex;
  gap: 1rem;
}
.reviews-container .review-item .header-review .review-emoji img {
  width: 35px;
  height: 35px;
}
.reviews-container .review-item .header-review .review-data {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.reviews-container .review-item .header-review .review-data .review-img {
  border-radius: 50%;
  overflow: hidden;
  width: 45px;
  height: 45px;
}
.reviews-container .review-item .header-review .review-data .review-name {
  color: #F2F3F4;
  font-size: 20px;
}

.slogan {
  margin-bottom: 1rem;
}

.title {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
.title p {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  color: #EBFF00;
  font-family: "Unbounded";
}
.title img {
  width: 45px;
  height: 45px;
}

.rez-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.75rem;
}

.title.rez-title {
  display: flex;
}
.title.rez-title span {
  color: #EBFF00;
}

.title.rez-title:after {
  content: "";
  position: absolute;
  width: 252px;
  height: 112px;
  background: #F29F05;
  border-radius: 176px/77px;
  transform: rotate(15deg);
  z-index: -1;
}

.rez-slide img {
  object-fit: cover;
  border-radius: 24px;
}

.stock-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.stock-container .stock-name {
  font-family: "Unbounded";
  color: #F29F05;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 1rem;
}
.stock-container .stock-desk {
  color: #F2F3F4;
  margin-bottom: 1rem;
  white-space: pre-line;
}
.stock-container .stock-price-container {
  display: flex;
  gap: 1rem;
}
.stock-container .stock-price-container .stock-price-item {
  padding: 30px;
  background: #FE5D02;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #F2F3F4;
  border-radius: 24px;
}
.stock-container .stock-price-container .stock-price-item .stock-price {
  font-size: 36px;
  font-weight: 700;
}
.stock-container .stock-price-container .stock-price-item .stock-desc {
  font-size: 24px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-container .contact-item {
  padding: 10px 20px;
  background: #FE5D02;
  border-radius: 24px;
  border: 1px solid #F2F3F4;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #F2F3F4;
  transition: all 0.3s ease-in-out;
}
.contact-container .contact-item i {
  font-size: 68px;
}
.contact-container .contact-item a {
  font-family: "Unbounded";
  font-size: 2rem;
}
.contact-container .contact-item:hover,
.contact-container .contact-item:active {
  transform: scale(1.05);
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

/*# sourceMappingURL=style.css.map */
